<h1>Введите массив</h1>


<%= form_with url: "calc/output", method: :get do |form| %>
    <%= form.label :array, "Массив:" %>
    <%= form.text_field :array %>
    <%= form.submit "Submit" %>
  <% end %>
  <%= link_to "Показать БД в JSON", calc_json_path %><br>
  <%= link_to "Показать БД в XML", calc_xml_path %><br>
  <%= flash[:notice] %>
  